<%= simple_form_for([@race, @stage, @segment]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :strava_segment_url %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
