<h1>GPS Cycling Race</h1>
<% if session[:access_token].nil? %>
	<%= link_to (image_tag "ConnectWithStrava2x.png"), '/auth' %>
<% else %>
	<h1>
	Thanks for your linking your account
	<p><%= session[:cyclist_name] %></p>
	</h1>
	<%= link_to "Deauthorize", deauth_path %>
<% end %>