/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */


body { padding-top: 100px; }
footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }
.btn-new {
	margin-left : 20px;
}

.btn-cancel{
	margin-left : 10px;
}
.logo-img{
	width:150px !important;	
}
.panel-custom div.panel-heading{
	background: #FC4C02;
	color: white;
}
.loader{
	display: none;
	border: 5px solid #f3f3f3;
	border-top: 5px solid #FC4C02;
	border-bottom: 5px solid #FC4C02;
	border-bottom: 5px solid #FC4C02;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 1.5s linear inifinite;
}

@keyframe spin{
	0%{ transition: rotate(0deg); }
	100%{ transition: rotate(360deg); }
}