<%= simple_form_for(@stage_effort, url: stage_efforts_path(@race, @stage, @cyclist, @stage_effort)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :strava_activity_url %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>